@model Slider
@{
    ViewData["Title"] = "Edit";
}

<div class="container mt-5">
    <div class="image">
        <img src="~/img/@Model.Img" style="width:70%; height:30%;" />
    </div>
    <form class="forms-sample">
        <div class="form-group">
            <label for="exampleInputUsername1">Image</label>
            <input type="file" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary mr-2">Submit</button>
        <a class="btn btn-light" asp-action="Index">Back</a>
    </form>
</div>

